@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffed6;
  height: 400vh;
}

// Ajustar a centralização da foto com o texto após a animação
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes righttoleft {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bottomtoTop {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes replacingWC {
  0% {
    transform: translateX(0rem);
  }
  90%{
    transform: translateX(-51%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes replacingWCName {
  0%{
    transform: translateX(0rem);
  }
  90%{
    transform: translateX(-55.5%);
  }
  100% {
    transform: translateX(-54.8%);
  }
}
@keyframes replacingWCDev {
  0%{
    transform: translateX(0rem);
  }
  90%{
    transform: translateX(-38.5rem);
  }
  100% {
    transform: translateX(-38rem);
  }
}
@keyframes showPhoto {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translatey(5rem);
  }
  70% {
    opacity: 0.5;
    transform: translatey(-1rem);
  }
  100% {
    opacity: 1;
    transform: translatey(0rem);

  }
}

main {
  #menu {
    display: grid;
    grid-template-rows: 95% 5%;
    place-items: center;
    align-items: center;
    height: 100vh;
    #menuinfos{
      display: flex;
      justify-content: center;
      align-items: center;
      #welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-family: "Anton", sans-serif;
        h2 {
          color: #595959;
          font-size: 3rem;
          animation: 
            righttoleft 1s ease-in-out forwards,
            fadeIn 1s ease-in forwards, 
            replacingWC 1s ease-in forwards 1.8s;
        }
        #wfcontainer {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          width: fit-content;
          animation: 
            bottomtoTop 0.85s ease-in forwards,
            fadeIn 1s ease-in forwards;
          h1 {
            color: #fd4a4a;
            font-size: 6rem;
            text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
            animation: 
              replacingWCName 1s ease-in forwards 2s;
          }
          #devcontainer {
            padding: 1rem 2rem;
            background-color: #595959;
            align-self: flex-end;
            border-radius: 1rem;
            animation: 
              replacingWCDev 1.3s ease-in forwards 2.2s;
            p {
              color: #fffed6;
              font-size: 1rem;
              letter-spacing: 0.1em;
            }
          }
        }
      }
      #fotoWendel {
        position: absolute;
        left: 60%;
        #fotocontainer {
          display: flex;
          justify-content: center;
          overflow: hidden;
          border-radius: 5rem;
          background-color: none;
          height: 28rem;
          width: 20rem;
          opacity: 0;
          animation: 
            showPhoto 1s linear forwards 2s;
          img {
            height: 25rem;
          }
        }
      }
    }

    #scrollMessage {
      
    }
  }
}
